# SPDX-License-Identifier: MIT
# Copyright (c) 2018 Ryan M. Lederman
# Copyright (c) 2022 Jeffrey H. Johnson <trnsz@pobox.com>

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# build products
build/

# compiled documentation
docs/html/
docs/xml/

# test artifacts
*.log
log.txt

# clang
compile_commands.json
